<!DOCTYPE html>
<html>
<head>
<meta content="text/html;charset=UTF-8"/>
<title>登录页面</title>
<style type="text/css">
	body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
</style>
</head>
<body>
	
     <div class="container">

			<h1>Welcome</h1>
			
			<form class="form" action="/login" method="post">
				<input type="text" name="username" autofocus placeholder="Username">
				<input type="password" name="password" placeholder="Password">
				<button type="submit" id="login-button">Login</button>
			</form>

    </div>
		
</body>
</html>